{{!< default}}

<section id="content_wordsmith">
{{#post}}
	<article class="article_wordsmith" role="article" itemscope itemtype="http://schema.org/Article">
		
		<h1 class="posttitle_wordsmith" itemprop="headline">{{title}}</h1>
		
		<div class="postcontent_wordsmith">
			{{content}}
		</div>
		
	</article>
{{/post}}
</section>