@font-face {
  font-family: 'icomoon';
  src: url("font-icons/icomoon.eot");
  src: url("font-icons/icomoon.eot?#iefix") format('embedded-opentype'), url("font-icons/icomoon.ttf") format('truetype'), url("font-icons/icomoon.woff") format('woff'), url("font-icons/icomoon.svg#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #fff;
  color: #959595;
  font-family: 'Noticia Text', serif;
  font-size: 18px;
  line-height: 2em;
  margin: 0 auto;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #252525;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 2.6em;
  line-height: 1.2;
}
h2 {
  font-size: 2.2em;
  line-height: 1.2;
}
h3 {
  font-size: 1.8em;
  line-height: 1.2;
}
h4 {
  font-size: 1.6em;
  line-height: 1.2;
}
h5 {
  font-size: 1.4em;
  line-height: 1.2;
}
h6 {
  font-size: 1em;
  line-height: 1.2;
}
h1 a {
  color: #252525;
  text-decoration: none;
}
a {
  color: #f69679;
}
header {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
header #cover_wordsmith {
  height: auto;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}
header #logo_wordsmith {
  position: relative;
  width: auto;
}
header #blogname_wordsmith {
  color: #fff;
  display: block;
  text-decoration: none;
  position: relative;
}
header #blogname_wordsmith h1 {
  color: #fff;
}
header .colorborder_wordsmith {
  display: inline-block;
  height: 5px;
  margin-bottom: 10px;
  position: relative;
  width: 25%;
}
.color_ws1 {
  background-color: #f69679;
}
.color_ws2 {
  background-color: #c4df9b;
}
.color_ws3 {
  background-color: #7da7d9;
}
.color_ws4 {
  background-color: #f65d5d;
}
#description_wordsmith {
  border-bottom: solid 1px #cacaca;
  font-style: italic;
  margin: 20px auto;
  padding: 20px 0;
  position: relative;
  text-align: center;
  width: 80%;
}
#content_wordsmith {
  padding: 0;
  position: relative;
  width: 100%;
}
#content_wordsmith .article_wordsmith {
  margin: 40px 0;
  padding: 20px;
  position: relative;
}
#content_wordsmith .article_wordsmith .leftborder_wordsmith {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}
#content_wordsmith .article_wordsmith .helv_wordsmith {
  font-family: 'Helvetica', sans-serif;
}
#content_wordsmith .article_wordsmith .postcontent_wordsmith {
  margin-bottom: 30px;
}
#content_wordsmith .article_wordsmith .postcontent_wordsmith blockquote {
  border-left: 5px solid #959595;
  padding: 1px 0 1px 40px;
  margin: 0;
}
#content_wordsmith .article_wordsmith .postcontent_wordsmith img {
  height: auto;
  max-width: 100%;
}
#content_wordsmith .article_wordsmith .readmore_wordsmith {
  border: 1px solid #959595;
  border-radius: 4px;
  color: #959595;
  display: inline-block;
  margin: 10px 0;
  padding: 0 10px;
  text-decoration: none;
}
#pagination_wordsmith {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  font-family: 'Helvetica', sans-serif;
  margin: 40px 0;
  padding: 15px 0;
  position: relative;
  text-align: center;
}
#author_wordsmith {
  background-color: #ebebeb;
  border-radius: 4px;
  margin: 20px 0;
  overflow: hidden;
  padding: 3%;
  position: relative;
  width: 94%;
}
#author_wordsmith .authorimage_wordsmith {
  border-radius: 50%;
  height: 150px;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  width: 150px;
}
#author_wordsmith .authorimage_wordsmith img {
  height: auto;
  position: relative;
  width: 100%;
}
#author_wordsmith .authordata_wordsmith {
  margin: 0 10px;
}
#author_wordsmith .authordata_wordsmith span {
  color: #252525;
}
footer {
  margin: 50px 0 10px 0;
  position: relative;
  text-align: center;
}
footer .iconfont_wordsmith {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: none;
  line-height: 1;
}
footer .icon-feed:before {
  content: "\e600";
}
footer .icon-twitter:before {
  content: "\e601";
}
footer .icon-facebook:before {
  content: "\e602";
}
footer .icon-google-plus:before {
  content: "\e603";
}
footer #socialshare_wordsmith {
  position: relative;
}
footer #socialshare_wordsmith a {
  color: #959595;
  font-size: 2em;
  text-decoration: none;
}
@media screen and (min-width:320px) {
  body {
    width: 320px;
  }
  #author_wordsmith {
    text-align: center;
  }
  #author_wordsmith .authorimage_wordsmith {
    float: none;
    display: inline-block;
  }
  #logo_wordsmith {
    height: 50px;
    margin: 50px 0 10px 0;
  }
  #blogname_wordsmith {
    font-size: 1em;
    margin: 50px 0 10px 0;
  }
}
@media screen and (min-width:480px) {
  body {
    width: 480px;
  }
  #blogname_wordsmith {
    font-size: 1.4em;
  }
}
@media screen and (min-width:768px) {
  body {
    width: 768px;
  }
  #author_wordsmith {
    text-align: left;
  }
  #author_wordsmith .authorimage_wordsmith {
    float: left;
  }
  #logo_wordsmith {
    height: 80px;
    margin: 80px 0 20px 0;
  }
  #blogname_wordsmith {
    font-size: 1.6em;
    margin: 80px 0 20px 0;
  }
}
@media screen and (min-width:960px) {
  body {
    width: 960px;
  }
  #logo_wordsmith {
    height: 100px;
    margin: 100px 0 30px 0;
  }
  #blogname_wordsmith {
    font-size: 2em;
    margin: 100px 0 30px 0;
  }
}
@media screen and (min-width:1280px) {
  body {
    width: 1280px;
  }
}
