c1 = #f69679
c2 = #c4df9b
c3 = #7da7d9
c4 = #f65d5d

@font-face 
	font-family: 'icomoon';
	src:url('font-icons/icomoon.eot');
	src:url('font-icons/icomoon.eot?#iefix') format('embedded-opentype'),
		url('font-icons/icomoon.ttf') format('truetype'),
		url('font-icons/icomoon.woff') format('woff'),
		url('font-icons/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;


body
	background-color #FFF
	color #959595
	font-family 'Noticia Text', serif
	font-size 18px
	line-height 2em
	margin 0 auto
	position relative

h1
h2
h3
h4
h5
h6
	color #252525
	font-family 'Raleway', sans-serif
	font-weight normal

h1
	font-size 2.6em
	line-height 1.2

h2
	font-size 2.2em
	line-height 1.2

h3
	font-size 1.8em
	line-height 1.2

h4
	font-size 1.6em
	line-height 1.2

h5
	font-size 1.4em
	line-height 1.2

h6
	font-size 1em
	line-height 1.2

h1 a 
	color #252525
	text-decoration none

a 
	color c1

header
	overflow hidden
	position relative
	text-align center
	width 100%

	#cover_wordsmith
		height auto
		left 0
		opacity 0.5
		position absolute
		top 0
		width 100%

	#logo_wordsmith
		position relative
		width auto

	#blogname_wordsmith
		color white
		display block
		text-decoration none
		position relative

		h1
			color white

	.colorborder_wordsmith
		display inline-block
		height 5px
		margin-bottom 10px
		position relative
		width 25%

.color_ws1
	background-color c1

.color_ws2
	background-color c2

.color_ws3
	background-color c3

.color_ws4
	background-color c4

#description_wordsmith
	border-bottom solid 1px #CACACA
	font-style italic
	margin 20px auto
	padding 20px 0
	position relative
	text-align center
	width 80%

#content_wordsmith
	padding 0
	position relative
	width 100%

	.article_wordsmith
		margin 40px 0
		padding 20px
		position relative

		.leftborder_wordsmith
			height 100%
			left 0
			position absolute
			top 0
			width 5px
	
		.helv_wordsmith
			font-family 'Helvetica', sans-serif

		.postcontent_wordsmith
			margin-bottom 30px
			
			blockquote
					border-left 5px solid #959595
					padding 1px 0 1px 40px
					margin 0
					
			img
				height auto
				max-width 100%

		.readmore_wordsmith
			border 1px solid #959595
			border-radius 4px
			color #959595
			display inline-block
			margin 10px 0
			padding 0 10px
			text-decoration none

#pagination_wordsmith
	border-top 1px solid #EBEBEB
	border-bottom 1px solid #EBEBEB
	font-family 'Helvetica', sans-serif
	margin 40px 0
	padding 15px 0
	position relative
	text-align center

#author_wordsmith
	background-color #EBEBEB
	border-radius 4px
	margin 20px 0
	overflow hidden
	padding 3%
	position relative
	width 94%

	.authorimage_wordsmith
		border-radius 50%
		height 150px
		margin-right 20px
		overflow hidden
		position relative
		width 150px

		img
			height auto
			position relative
			width 100%

	.authordata_wordsmith
		margin 0 10px

		span 
			color #252525


footer 
	margin 50px 0 10px 0
	position relative
	text-align center

	.iconfont_wordsmith
		font-family 'icomoon'
		speak none
		font-style normal
		font-weight normal
		font-variant normal
		text-decoration none
		line-height 1

	.icon-feed:before 
		content "\e600"

	.icon-twitter:before 
		content "\e601"

	.icon-facebook:before 
		content "\e602"

	.icon-google-plus:before 
		content "\e603"

	#socialshare_wordsmith
		position relative

		a
			color #959595
			font-size 2em
			text-decoration none

@media screen and (min-width:320px)
	body
		width 320px

	#author_wordsmith
		text-align center

		.authorimage_wordsmith
			float none
			display inline-block

	#logo_wordsmith
		height 50px
		margin 50px 0 10px 0

	#blogname_wordsmith
		font-size 1em
		margin 50px 0 10px 0

@media screen and (min-width:480px)
	body
		width 480px

	#blogname_wordsmith
		font-size 1.4em

@media screen and (min-width:768px)
	body
		width 768px

	#author_wordsmith
		text-align left

		.authorimage_wordsmith
			float left

	#logo_wordsmith
		height 80px
		margin 80px 0 20px 0

	#blogname_wordsmith
		font-size 1.6em
		margin 80px 0 20px 0

@media screen and (min-width:960px)
	body
		width 960px

	#logo_wordsmith
		height 100px
		margin 100px 0 30px 0

	#blogname_wordsmith
		font-size 2em
		margin 100px 0 30px 0

@media screen and (min-width:1280px)
	body
		width 1280px